
@media screen and (max-width: 1024px){

    #sport_section .sport_tag li {
        width: 100%;
    }

    #front_page ul li {
        width: 100%;
    }

    #front_page h1 {
        font-size: 18px;
    }

    #front_page ul {
        max-width: 100%;
    }
}