
@media screen and (max-width: 1024px){
    .navbar-toggler {
        padding: .25rem .40rem .0rem;
        line-height: 1;
        background-color: #ffffff;
        border: 1px solid #44444400;
        border-radius: .25rem;
        float: right;
        margin: 15px 20px;
    
        svg {
            font-size: 25px;
            color: #e20303;
        }
    }
    
    
    div#navbarNavDropdown {
        position: absolute;
        z-index: 999;
        background: #f1f1f1cf;
        top: 72%;
        width: 100%;
        padding: 18px 0;
    }
    
    .nav {
        display: -ms-flexbox;
        display: block;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    a.nav-link {
        font-size: 16px;
        padding: 6px 20px;
    }
     
}
