.footer {
    text-align: center;
    color: $white;
    p{
        padding: 10px 0 0px;
        font-size: 10px;
        margin-bottom: 11px;
        a{
            color: rgb(247, 247, 247);
        }
    }
}